.coaches {
  position: relative;
  background-color: $color-default-white;
}

.coaches__wrapper {
  display: grid;
  grid-template-columns: 1fr 1160px 1fr;
  padding: 106px 0 94px 0;
  width: 100%;
  margin: 0 auto;

  @include vp-1199 {
    width: 768px;
    grid-template-columns: auto 566px auto;
    padding: 0 0 100px 0;
  }

  @include vp-767 {
    width: 320px;
    grid-template-columns: 1fr 226px 1fr;

    padding: 0 0 70px 0;
  }
}

.coaches__slider {
  display: flex;
  justify-content: center;
  width: 100%;

  grid-column: 2 / 3;
}

.coaches h2 {
  color: $color-black-russian;
  font-size: 54px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  grid-column: 2 / 3;

  margin: 0;
  padding: 0 0 48px 0;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    padding: 0 0 30px 0;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.96px;

    padding: 0 0 50px 0;
  }
}

.coaches__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 32px;
  width: 20px;
  color: $color-egyptian-blue;
  background: transparent;
  border: none;
  box-sizing: border-box;

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    height: 19px;
    width: 10px;
  }
}

.coaches__button-prev {
  grid-column: 1 / 2;

  justify-self: end;

  margin: 0 22px 0 0;
  padding: 12px 22px 12px 18px;

  @include hover-focus {
    padding: 12px 22px 12px 18px;
    border-radius: 50%;
    border: 1px solid $color-egyptian-blue;
  }

  @include active {
    padding: 12px 18px 12px 22px;
    border-radius: 50%;
    border: 1px solid $color-egyptian-blue;
    color: $color-default-white;
    background-color: $color-egyptian-blue;
  }

  @include vp-1199 {
    margin: 0;
    padding: 12px 40px 12px 0;
  }

  @include vp-767 {
    padding: 0;

    margin: 0 22px 0 0;
  }
}

.coaches__button-next {
  grid-column: 3 / 4;

  justify-self: start;
  margin: 0 0 0 22px;
  padding: 12px 22px 12px 18px;

  @include hover-focus {
    padding: 12px 18px 12px 22px;
    border-radius: 50%;
    border: 1px solid $color-egyptian-blue;
  }

  @include active {
    padding: 12px 18px 12px 22px;
    border-radius: 50%;
    border: 1px solid $color-egyptian-blue;
    color: $color-default-white;
    background-color: $color-egyptian-blue;
  }

  @include vp-1199 {
    padding: 12px 0 12px 40px;
    margin: 0;
  }

  @include vp-767 {
    margin: 0 0 0 22px;
    padding: 0;
  }
}
