.hero {
  width: 100%;
  background-color: $color-crimson;
  background-image: url("../../../img/hero-bg-desktop@1x.jpg");
  background-size: 100% 100%;

  @include retina {
    background-image: url("../../../img/hero-bg-desktop@2x.jpg");
  }

  @include vp-1199 {
    background-image: url("../../../img/hero-bg-tablet@1x.jpg");

    @include retina {
      background-image: url("../../../img/hero-bg-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    background-image: url("../../../img/hero-bg-mobile@1x.jpg");

    @include retina {
      background-image: url("../../../img/hero-bg-mobile@2x.jpg");
    }
  }
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 132px auto 530px;
  grid-template-rows: repeat(3, auto);
  width: 940px;
  margin: 0;

  @include vp-1199 {
    width: 678px;
    grid-template-columns: 113px 208px 1fr;
    margin: 0 auto;
  }

  @include vp-767 {
    position: relative;
    width: 290px;
    grid-template-columns: repeat(2, auto);
  }
}

.hero h2 {
  color: $color-default-white;
  text-align: right;
  font-size: 92px;
  line-height: 110px;
  font-family: $ff-alumni;
  font-weight: 600;
  letter-spacing: 4.6px;
  text-transform: uppercase;

  margin: 0;
  padding: 0 45px 43px 15px;

  grid-row: 2 / 3;
  grid-column: 2 / 3;

  @include vp-1199 {
    text-transform: none;
    text-align: right;
    font-size: 72px;
    letter-spacing: 3.6px;
    line-height: 86px;

    padding: 0 0 29px 25px;
  }

  @include vp-767 {
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 3.6px;
    padding: 0 0 23px 0;
  }
}

.hero small {
  display: block;
  color: $color-default-white;
  font-size: 48px;
  font-family: $ff-alumni;
  font-weight: 600;
  letter-spacing: 1.44px;
  line-height: 58px;
  min-height: 40px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  word-break: break-all;

  padding: 162px 96px 14px 10px;
  justify-self: self-end;

  @include vp-1199 {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 1.02px;

    padding: 123px 0 0 0;
  }

  @include vp-767 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.84px;

    padding: 95px 3px 2px 0;
  }
}

.hero p {
  color: $color-default-white;
  text-align: right;
  font-size: 14px;
  font-family: $ff-roboto;
  line-height: 150%;

  margin: 0;
  padding: 120px 0 0 0;

  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: self-end;

  @include vp-1199 {
    padding: 90px 0 0 0;
  }

  @include vp-767 {
    position: absolute;
    bottom: 55px;
    left: 0;
    min-width: 113px;
    padding: 0;
  }
}

.hero__image-wrapper {
  padding: 51px 0 51px 0;
  box-sizing: content-box;
  width: 500px;
  height: 556px;
  margin: 0 0 0 20px;

  grid-column: 3 / 4;
  grid-row: 1 / -1;

  @include vp-1199 {
    width: 324px;
    height: 390px;

    padding: 82px 0;
    margin: 0 0 0 32px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__button {
  margin: 5px 45px 94px auto;

  grid-row: 3 / 4;
  grid-column: 2 /3;

  padding: 21px 53px;

  @include vp-1199 {
    margin: 5px 0 103px 25px;
    padding: 21px 10px;
  }

  @include vp-767 {
    grid-column: 1 / -1;
    margin: 0 0 80px 0;
    padding: 20px 10px;
  }
}
