.promotions {
  background-color: $color-default-white;
  width: 100%;
}

.promotions__wrapper {
  width: 1160px;
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;

  margin: 0 auto;
  padding: 146px 0 120px 0;

  @include vp-1365 {
    width: 678px;
    grid-template-columns: 1fr 1fr;

    gap: 30px;
    padding: 100px 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    width: 290px;

    padding: 70px 0;
  }
}

.promotions__wrapper h2 {
  font-size: 54px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  color: $color-default-black;
  text-align: center;

  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @include vp-1365 {
    font-size: 42px;
    letter-spacing: 1.26px;

    padding: 0 0 20px 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;

    padding: 0 0 20px 0;
  }
}
