.super-games {
  background-color: $color-default-white;

  padding: 120px 0 0 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 69px 0 70px 0;
  }
}

.super-games__wrapper {
  display: grid;
  grid-template-columns: 500px 660px;

  position: relative;
  z-index: 1;

  width: 1160px;
  margin: 0 auto;

  background-color: $color-torch-red-banner;

  @include vp-1199 {
    grid-template-columns: 292px 386px;

    width: 678px;
  }

  @include vp-767 {
    width: 290px;

    display: flex;
    flex-direction: column;
  }
}

.super-games__info {
  display: grid;
  grid-template-columns: 1fr auto;

  padding: 85px 78px 87px 78px;

  @include vp-1199 {
    padding: 51px 45px;
  }
}

.super-games__info h2 {
  color: $color-default-white;
  text-align: center;
  font-size: 82px;
  font-family: $ff-alumni;
  font-style: normal;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  word-break: break-all;

  padding: 0 50px 0 0;
  margin: 0;

  grid-column: 1 / 2;

  @include vp-1199 {
    font-size: 48px;
    letter-spacing: 1.44px;
    padding: 0 35px 0 5px;
  }

  @include vp-767 {
    padding: 0 35px 0 0;
  }
}

.super-games__date {
  grid-column: 2 / 3;
}

.super-games__date dl {
  display: flex;
  flex-direction: column;
  margin: 0;
  word-break: break-all;
}

.super-games__date dt {
  color: $color-default-white;
  font-size: 18px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding: 0 0 7px 0;
  border-bottom: 2px solid $color-default-white;

  @include vp-1199 {
    font-size: 12px;
    line-height: 85%;
    padding: 0 0 4px 0;
    border-bottom: 1px solid $color-default-white;
    width: 56px;
  }
}

.super-games__date dd {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  column-gap: 7px;
  margin-bottom: 20px;

  color: $color-default-white;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
    line-height: 90%;
    margin-bottom: 10px;
    column-gap: 3px;

    padding: 6px 0 0 0;
  }
}

.super-games__date dt:first-child {
  width: 64px;

  @include vp-1199 {
    width: 42px;
  }
}

.super-games__date dt:last-child {
  width: 88px;
}

.super-games__date dd:not(:last-child) {
  margin-bottom: 25px;

  @include vp-1199 {
    margin-bottom: 14px;
  }
}

.super-games__date span {
  display: block;
  color: $color-default-white;
  font-size: 40px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @include vp-1199 {
    font-size: 24px;
    line-height: 18px;
  }
}

.super-games__info p {
  color: $color-default-white;
  font-size: 18px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  grid-column: 1 / -1;

  padding: 0 0 45px 0;
  margin: 0;

  @include vp-1199 {
    font-size: 12px;

    padding: 0 0 29px 0;
  }

  @include vp-767 {
    padding: 0 0 31px 0;
  }
}

.super-games__button {
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;

  color: $color-default-white;
  font-size: 12px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  padding: 22px 103px;

  @include vp-1199 {
    font-size: 10px;
    letter-spacing: 0.5px;

    padding: 14px 50px;
    line-height: 7px;
    border: 2px solid $color-default-white;
    margin-right: auto;
  }

  @include vp-767 {
    padding: 14px 49px;
  }
}

.super-games__image-wrapper {
  width: 660px;
  height: 500px;

  @include vp-1199 {
    width: 386px;
    height: 292px;
  }

  @include vp-767 {
    width: 290px;
    height: 292px;
  }
}
