.accordion {
  //max-width: 500px;
  margin: 0 auto;

  @include vp-1199 {
    width: 100%;
  }

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &__element:last-child {
    margin-bottom: 0;
  }

  &__element {
    display: grid;

    grid-template-columns: auto 70px;

    border-top: 1px solid $color-blue-opacity;
    border-bottom: 1px solid $color-blue-opacity;
    padding: 0 0 0 10px;

    @include vp-1199 {
      grid-template-columns: 560px auto;
      padding: 0;
    }

    @include vp-767 {
      grid-template-columns: 238px auto;
    }
  }

  &__element h3 {
    color: $color-default-black;
    font-size: 24px;
    font-family: $ff-roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: left;

    grid-column: 1 / 2;

    margin: 0;
    padding: 32px 0;

    @include vp-1199 {
      padding: 30px 0;
      line-height: 120%;
    }

    @include vp-767 {
      font-size: 18px;
      padding: 20px 0;
    }
  }

  &__element p {
    margin: 0;
    padding: 15px 0 25px 0;
    width: 82%;

    @include vp-1199 {
      width: 95%;
    }

    @include vp-767 {
      width: 100%;
      padding: 0 0 5px 0;
    }
  }

  &__button {
    position: relative;

    width: 42px;
    height: 42px;
    box-sizing: border-box;

    border-radius: 50%;
    border: 1px solid $color-resolution-blue;
    background-color: transparent;

    grid-column: 2 / 3;

    margin: 25px 0 25px auto;
    cursor: pointer;

    @include vp-1199 {
      margin: auto 0 auto auto;
    }

    @include vp-767 {
      width: 32px;
      height: 32px;

      margin: auto 0 auto auto;
    }

    &::before {
      content: "";
      position: absolute;
      left: 11px;
      top: 19px;
      width: 18px;
      height: 1px;
      background-color: $color-default-black;

      @include vp-767 {
        left: 8px;
        top: 14px;
        width: 14px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 11px;
      top: 19px;
      width: 18px;
      height: 1px;
      background-color: $color-default-black;
      transform: rotate(90deg);

      @include vp-767 {
        left: 8px;
        top: 14px;
        width: 14px;
      }
    }

    @include hover-focus {
      background-color: $color-default-black;

      &::before {
        background-color: $color-default-white;
      }

      &::after {
        background-color: $color-default-white;
      }
    }
  }

  &__element.is-active > &__button {
    background-color: $color-resolution-blue;
    margin: 25px 0 8px auto;

    @include vp-767 {
      margin: 34px 0 8px auto;
    }

    &::after {
      transform: none;
      background-color: $color-default-white;
    }
  }

  &__element.is-active h3 {
    padding: 31px 0 15px 0;

    @include vp-767 {
      padding: 20px 0 12px 0;
    }
  }

  &__element.is-active p {
    padding: 0 0 25px 0;

    @include vp-767 {
      padding: 0 0 10px 0;
    }
  }

  &__wrapper {
    padding: 0;
  }
}
