.advantage-card {
  display: grid;
  column-gap: 30px;

  justify-self: start;

  border-bottom: 2px solid $color-crimson-opacity;
  margin-bottom: 70px;

  min-height: 145px;

  @include vp-1199 {
    border: none;
    margin-bottom: 0;
    margin-right: 60px;

    min-height: 120px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 45px;
  }
}

.advantage-card--first {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include vp-1199 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0;
  }

  @include vp-767 {
    margin: 0 0 38px 0;
  }
}

.advantage-card--second {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  column-gap: 18px;

  @include vp-1199 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    column-gap: 28px;
  }

  @include vp-767 {
    margin: 0 0 42px 0;
  }
}

.advantage-card--third {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  border: none;
  margin: 0;

  @include vp-1199 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-right: 33px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--fourth {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  border: none;
  margin: 0;

  @include vp-1199 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card small {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;

  color: $color-persian-blue;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0 0 0 15px;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0 6px 0;
  }
}

.advantage-card--second small {
  padding: 0;

  @include vp-1199 {
    padding: 0 0 0 15px;
  }

  @include vp-767 {
    padding: 0 0 6px 0;
  }
}

.advantage-card--third small {
  @include vp-1199 {
    padding: 43px 0 0 0;
  }
}

.advantage-card--fourth small {
  padding: 0;

  @include vp-1199 {
    padding: 43px 0 0 15px;
  }

  @include vp-767 {
    padding: 35px 0 0 0;
  }
}

.advantage-card span {
  font-size: 71px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  background: linear-gradient(to right bottom, #d10a42 0, #0041ca 87.33%);
  background-clip: text;
  color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }

  @include vp-767 {
    line-height: 85%;
  }
}

.advantage-card h3 {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  color: $color-default-black;
  font-size: 22px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin: 0;
  padding: 5px 0 0 7px;

  @include vp-1199 {
    font-size: 20px;
    padding: 0;
  }
}

.advantage-card--third h3 {
  @include vp-1199 {
    padding: 40px 0 0 0;
  }

  @include vp-767 {
    padding: 10px 0 0 0;
  }
}

.advantage-card--fourth h3 {
  @include vp-1199 {
    padding: 40px 0 0 0;
  }

  @include vp-767 {
    padding: 8px 0 0 0;
  }
}

.advantage-card p {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  color: $color-default-black;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;

  margin: 45px 0 0 0;
  padding: 0 0 80px 0;

  @include vp-1199 {
    padding: 0;
    margin: 30px 0 0 0;
  }

  @include vp-767 {
    text-align: center;
    line-height: 150%;
    margin: 0;
  }
}

.advantage-card:nth-child(3n) p {
  padding: 0;
}

.advantage-card:last-child p {
  padding: 0;
}

.advantage-card--third p {
  @include vp-1199 {
    margin: 72px 0 0 0;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--fourth p {
  @include vp-1199 {
    margin: 72px 0 0 0;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--special {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  grid-column: 2 / 3;
  grid-row: 2 / 4;

  width: 240px;
  min-height: 307px;

  padding: 50px 34px;
  margin: 10px 60px auto 60px;
  border: none;

  @include vp-1199 {
    width: 442px;
    min-height: 239px;
    grid-row: 3 / 3;
    grid-column: 1 / -1;
    padding: 30px 135px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    padding: 38px 74px;
  }
}

.advantage-card--special h3 {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  color: $color-default-white;

  margin: 0;
  padding: 5px 0 33px 0;

  @include vp-1199 {
    padding: 0 0 15px 0;
    font-size: 22px;
  }

  @include vp-767 {
    padding: 0 0 10px 0;
  }
}

.advantage-card--special span {
  font-size: 74px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $color-default-white;

  @include vp-767 {
    line-height: 90%;
  }
}

.advantage-card--special p {
  text-align: center;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding: 0;
  color: $color-default-white;
}
