.advantage-card {
  display: grid;
  column-gap: 30px;

  border-bottom: 2px solid #D10A4233;
  margin-bottom: 82px;

  @include vp-1365 {
    border: none;
    margin-bottom: 50px;
    margin-right: 60px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 45px;
  }
}

.advantage-card--first {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @include vp-1365 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--second {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  @include vp-1365 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--third {
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  border: none;
  margin: 0;

  @include vp-1365 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-right: 33px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card--fourth {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  border: none;
  margin: 0;

  @include vp-1365 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  @include vp-767 {
    margin: 0;
  }
}

.advantage-card:not(:last-child) {
  @include vp-767 {
    margin-bottom: 45px;
  }
}

.advantage-card small {
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;

  color: $color-persian-blue;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

.advantage-card span {
  font-size: 71px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  background: linear-gradient(to right bottom,#d10a42 0,#0041ca 87.33%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  @include vp-1365 {
    font-size: 58px;
  }
}

.advantage-card h3 {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  color: $color-default-black;
  font-size: 22px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin: 0;

  @include vp-1365 {
    font-size: 20px;
  }
}

.advantage-card p {
  grid-column: 2 / 3;
  grid-row: 1 / -1;

  color: $color-default-black;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;

  margin: 50px 0 0 0;
  padding: 0 0 84px 0;

  @include vp-1365 {
    padding: 0;
    margin: 30px 0 0 0;
  }

  @include vp-767 {
    text-align: center;
    margin: 0;
  }
}

.advantage-card:nth-child(3n) p {
  padding: 0;
}

.advantage-card:last-child p {
  padding: 0;
}

.advantage-card--special {
  display: flex;
  flex-direction: column;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  grid-column: 2 / 3;
  grid-row: 2 / 4;

  padding: 66px 34px;
  margin: 0 60px;

  @include vp-1365 {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin: 50px auto;
    margin-top: 0;
  }

  @include vp-767 {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
}

.advantage-card--special h3 {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;

  margin: 0;
  padding: 0 0 45px 0;
}

.advantage-card--special span {
  font-size: 74px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.advantage-card--special p {
  text-align: center;
  font-size: 16px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

