.coach-card {
  position: relative;
  font-family: $ff-roboto;
  max-width: 260px;
  max-height: 294px;
  margin: 0;

  @include vp-1199 {
    max-width: 268px;
    min-height: 294px;
  }

  @include vp-767 {
    max-width: 226px;
    min-height: 274px;

    &:hover,
    &:active {
      .coach-card__info {
        transform: scaleY(1);
      }

      .coach-card__image-wrapper span {
        transform: scaleY(0);
      }
    }
  }

  @include hover-focus {
    .coach-card__info {
      transform: scaleY(1);
    }

    .coach-card__image-wrapper span {
      transform: scaleY(0);
    }
  }

  @include active {
    .coach-card__info {
      transform: scaleY(1);
    }

    .coach-card__image-wrapper span {
      transform: scaleY(0);
    }
  }
}

.coach-card__image-wrapper {
  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.coach-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coach-card__info {
  display: flex;
  flex-direction: column;

  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  padding: 56px 40px;
  transform: scaleY(0);

  overflow: scroll;

  @include vp-767 {
    padding: 46px 30px;
  }
}

.coach-card__info h3 {
  color: $color-default-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
}

.coach-card__info p {
  color: $color-spindle;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;

  padding: 0 0 36px 0;

  @include vp-767 {
    padding: 0 0 34px 0;
  }
}

.coach-card__info ul {
  display: flex;
  flex-direction: column;

  row-gap: 12px;

  color: $color-default-white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 0 30px;
  padding: 0 0 5px 0;

  @include vp-767 {
    margin: 0 0 0 18px;
  }
}

.coach-card__info li {
  align-items: flex-start;
}

.coach-card__image-wrapper span {
  width: 100%;
  position: absolute;
  bottom: 23px;
  left: 50%;
  translate: (-50%);

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: $color-default-white;
  text-align: center;

  transform: scaleY(1);

  @include vp-767 {
    width: 100%;
    text-align: center;
    bottom: 30px;
  }
}
