.custom-input input {
  color: $color-default-white;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;

  width: 100%;
  padding: 22px 10px 6px 0;
  border: none;
  border-bottom: 2px solid $color-light-slate-grey;

  &:hover {
    border-bottom: 2px solid $color-default-white;
  }

  &:focus {
    border: none;
    outline: 2px solid $color-default-white;
  }
}

.custom-input input::placeholder {
  color: $color-default-white;
  font-size: 14px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.is-invalid {
  input {
    border-bottom: 2px solid $color-torch-red-error;
  }

  .input-message {
    color: $color-torch-red-error;
  }
}
