.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include hover-focus {
    .play-button__icon-stroke {
      stroke: $color-default-black;
      opacity: 1;
    }

    .play-button__icon-fill {
      fill: $color-default-white;
    }

    .play-button__icon-play {
      fill: $color-default-black;
    }
  }

  @include active {
    .play-button__icon-stroke {
      stroke: $color-default-black;
      opacity: 1;
    }

    .play-button__icon-fill {
      fill: $color-default-white;
      transform: scale(0.8);
    }

    .play-button__icon-play {
      fill: $color-default-black;
    }
  }

  @include vp-1199 {
    width: 72px;
    height: 72px;
  }

  @include vp-767 {
    width: 73px;
    height: 73px;
  }

  &:disabled {
    .play-button__icon-stroke {
      stroke: $color-default-black;
      opacity: 0.4;
    }

    .play-button__icon-fill {
      fill: $color-default-white;
    }

    .play-button__icon-play {
      fill: $color-default-black;
      opacity: 0.4;
    }
  }
}

.play-button__icon-fill {
  transform-origin: center center;
}
