.promotion-card {
  display: flex;
  background-color: $color-torch-red-banner;
  width: 560px;

  grid-column: 1 / 2;
  grid-row: 2 / 4;

  @include vp-1199 {
    width: 678px;

    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }

  @include vp-767 {
    width: 290px;

    flex-direction: column;

    margin-bottom: 30px;
  }
}

.promotion-card--secondary {
  display: flex;
  flex-direction: column;
  color: $color-resolution-blue;
  font-family: $ff-roboto;
  background-color: $color-default-white;

  padding: 20px 28px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  min-height: 211px;

  border-width: 7px;
  border-style: solid;
  border-image: $torch-red-to-right 1;

  @include vp-1199 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 100%;

    justify-content: flex-start;
  }

  @include vp-767 {
    padding: 26px 41px;
    align-items: center;
  }
}

.promotion-card--secondary h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  margin: 0;

  @include vp-767 {
    padding: 0 0 5px 0;
  }
}

.promotion-card--secondary p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  margin: 0;
  padding: 0 0 73px 0;

  @include vp-1199 {
    padding: 0 0 50px 0;
  }

  @include vp-767 {
    text-align: center;
    padding: 0 0 25px 0;
  }
}

.promotion-card--secondary br {
  display: none;
}

.promotion-card--secondary:first-child {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  justify-content: flex-start;
}

.promotion-card--secondary:last-child {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  @include vp-1199 {
    grid-column: 2 / 3;
  }
}

.promotion-card__info {
  display: flex;
  flex-direction: column;
  font-family: $ff-roboto;
  color: $color-default-white;
  width: 280px;

  padding: 32px 45px;

  @include vp-767 {
    width: 290px;

    justify-content: center;
    align-items: center;

    padding: 32px 45px 46px 45px;
  }
}

.promotion-card__info h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 156%;

  margin: 0;
}

.promotion-card__info span {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;

  padding: 0 0 20px 0;

  @include vp-1199 {
    line-height: 100%;
    padding: 0 0 15px 0;
  }

  @include vp-767 {
    padding: 0 0 10px 0;
  }
}

.promotion-card__info p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  padding: 0 0 188px 0;
  margin: 0;

  @include vp-1199 {
    padding: 0 0 180px 0;
  }

  @include vp-767 {
    padding: 0 0 30px 0;
    text-align: center;
  }
}

.promotion-card__button {
  margin-right: auto;
  cursor: pointer;

  @include vp-1199 {
    margin-top: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    padding: 0;
  }

  @include vp-767 {
    margin: 0 auto;

    font-size: 14px;
    letter-spacing: 0.7px;
    padding: 0;
  }
}

.promotion-card__image-wrapper {
  width: 280px;
  height: 462px;

  @include vp-1199 {
    width: 399px;
  }

  @include vp-767 {
    width: 290px;
    height: 300px;
  }
}

.promotion-card__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
