.tabs-faq {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: $color-default-black;

  grid-column: 1 / -1;
  grid-row: 2 / 3;
  column-gap: 40px;

  @include vp-1199 {
    flex-direction: column;
  }
}

.tabs-faq__controls {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: auto;
  margin-bottom: 39px;
  color: $color-default-black;
  row-gap: 7px;

  @include vp-1199 {
    width: 100%;
    gap: 10px;
    flex-direction: row;
    margin: 0 auto 40px auto;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    margin-bottom: 30px;
  }
}

.tabs-faq__control {
  font-size: 18px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: none;
  word-break: break-all;

  cursor: pointer;
  padding: 18px 84px;
  width: 260px;
  justify-content: center;
  color: $color-default-black;
  border: 1px solid $color-black-opacity;


  @include vp-1199 {
    width: 162px;
    padding: 18px 30px;
  }

  @include vp-767 {
    font-size: 16px;
    padding: 13px;
    width: auto;
  }

  &.is-active {
    color: $color-default-white;
    background: linear-gradient(to right bottom, #d10a42 0, #0041ca 87.33%);
    background-clip: padding-box;
    border: 1px solid transparent;
  }

  @include hover-focus {
    color: $color-default-black;
    background: $color-default-white;
    border: 1px solid $color-default-black;
  }
}

.tabs-faq__content {
  color: $color-default-black;
  width: 100%;
  transition: height 0.3s;
}

.tabs-faq__element {
  display: flex;
  justify-content: space-between;
  color: $color-default-black;
  padding: 0;
  margin: 0;
  width: 100%;

  @include vp-1199 {
    flex-direction: column;
    padding: 0;
  }
}

.tabs-faq__element-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $color-default-white;
  border: 2px solid $color-default-black;

  padding: 68px;

  @include vp-1199 {
    border: none;
  }

  @include vp-767 {
    padding: 55px 42px;
  }
}

.tabs--unset .tabs__content {
  color: $color-default-black;
  height: 100px;
}

.tabs--unset .tabs__element {
  color: $color-default-black;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
