// Colors
// ---------------------------------

// Default

$color-default-black:               #102654;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-default-error:               #ff121f;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-egyptian-blue:               #103aae;
$color-torch-red:                   #ff1553;
$color-black-russian:               #030a1a;
$color-torch-red-error:             #ff121f;
$color-ghost-white:                 #f8f9fc;
$color-crimson:                     #d10a42;
$color-gray:                        rgba(120, 120, 120, 0.2);
$color-whisper:                     #e8e8e8;
$color-torch-red-banner:            #ed0233;
$color-spindle:                     #b6bdcc;
$color-persian-blue:                #2e35ac;
$color-resolution-blue:             #1c3374;
$color-light-slate-grey:            #74819c;
$color-blue-opacity:                rgba(28, 51, 116, 0.2);
$color-crimson-opacity:             rgba(209, 10, 66, 0.2);
$color-black-opacity:               rgba(16, 38, 84, 0.2);

// Gradient

$cobalt-to-left:                    linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$torch-red-to-right:                linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
$conic-venetian-red-dark-cerulean:  conic-gradient(#003d85 32.24deg, #b80027 313.31deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-alumni:                         "Alumni Sans", "Arial", sans-serif;
$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;


// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
