// Colors
// ---------------------------------

// Default

$color-default-black:               #102654;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-egyptian-blue:               #103AAE;
$color-torch-red:                   #ff1553;
$color-black-russian:               #030A1A;
$color-torch-red-error:             #FF121F;
$color-ghost-white:                 #F8F9FC;
$color-crimson:                     #D10A42;
$color-gray:                      #78787833;
$color-whisper:                     #E8E8E8;
$color-torch-red-banner:            #ED0233;
$color-spindle:                     #B6BDCC;
$color-persian-blue:                #2E35AC;
$color-resolution-blue:             #1C3374;
$color-light-slate-grey:            #74819C;

// Gradient

$cobalt-to-left:                    linear-gradient(129deg, #D10A42 0%, #0041CA 100%);
$torch-red-to-right:                linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
$conic-venetian-red-dark-cerulean:  conic-gradient(#003D85 32.23633825778961deg, #B80027 313.3060026168823deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-alumni:                         "Alumni Sans", "Arial", sans-serif;
$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1366:                           1366px;


// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
